<!DOCTYPE html>
<html>
    <head>
        <title>Estaciona Fácil</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Estaciona fácil">
            <p>Olá, {nome do usuário}</p>
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="sistema">O sistema</a></li>
                <li><a href="#" class="sistema border-right">Reservas</a></li>
                <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="sistema">O sistema</a></li>
                    <li><a href="#" class="sistema">Reservas</a></li>
                    <li><button class="acess"><a href="#">Acessar</a></button></li>
                </ul>
            </div>
            <section class="reservation-sumary">
                <h3>Resumo da Reserva</h3>
                <ul>
                    <li>
                        <span>Endereço:</span>
                        <span>Estacionamento 1 Rua Abcde, 1234, São josé do Rio Preto, SP</span>
                    </li>
                    <li>
                        <span>Nome:</span>
                        <span>Proprietário do veiculo</span>
                    </li>
                    <li>
                        <span>Chegada:</span>
                        <span>01/01/2024 as 00:00h</span>
                    </li>
                    <li>
                        <span>Saída:</span>
                        <span>02/01/2024 as 00:00h</span>
                    </li>
                    <li>
                        <span>Veículo:</span>
                        <span>Marca, Modelo, Cor, Placa</span>
                    </li>
                    <li>
                        <span>Valor total:</span>
                        <span>R$ 100,00</span>
                    </li>
                </ul>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-footer.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O sistema</a></li>
                    <li><a href="#">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)996318375</h4>
                <h5>(17)996318375</h4>
                <h5>estacionafacil@gmail.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>